.certs {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 10px;
  padding: 20px;

  &-item {
    display: flex;
    margin-bottom: 50px;

    &-text {
      align-self: flex-start;
      justify-self: center;
      text-align: end;
      margin-right: 20px;
      padding: 20px 10px;
      border-right: 1px solid $grey-36;
      
      &-desc {
        font-family: $font-rob;
      }
    }
    
    &-img {
      width: 45vw;
    }

    &-normal { justify-content: flex-end; }

    &-reverse {
      flex-direction: row-reverse;

      &-text {
        text-align: start;
        border-right: 0px;
        border-left: 1px solid $grey-36;
        margin-left: 20px;
      }
    }
  } 
}

@media only screen and (max-width: 650px) {
  .certs-item {
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-content: center !important;
    justify-content: center !important; 
    margin-bottom: 30px;

    &-text { 
      font-size: 13px;
      text-align: center;
      border: none;
      border-bottom: 1px solid grey;
      padding-bottom: 5px;
      margin-bottom: 10px;
      width: 70vw
    }

    &-reverse {
      &-text {
        margin-left: 0px;
      }
    }

    &-img {
      width: 70vw;
      margin: auto;
    }
  }
}