.certs {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 10px;
  padding: 20px;

  &-item {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    
    &-text {
      align-self: flex-start;
      justify-self: center;
      text-align: end;
      margin-right: 20px;
      padding: 20px 10px;
      border-right: 1px solid $grey-36;
      
      &-desc {
        font-family: $font-rob;
      }
    }
    
    &-img {
      width: 45vw;
    }

    &-reverse {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      flex-direction: row-reverse;
      justify-content: flex-end;

      &-text {
        align-self: flex-start;
        justify-self: center;
        text-align: start;
        margin-left: 20px;
        padding: 20px 10px;
        border-left: 1px solid black;
        
        &-desc {
          font-family: $font-rob;
        }
      }
      
      &-img {
        width: 45vw;
      }
    }
  } 
}