.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;

  &-title {
    font-size: 5vw;
  }

  &-contact {
    position: absolute;
    top: 5px;
    right: 5px;
    color: grey;

    &-resume {
      font-size: 30px;
    }

    & a {
      color: grey;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-img {
    max-width: 350px;
    border-radius: 50%;
    border: 7px solid $soft-white;
  }

  &-content {
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-quote {
      font-size: 0.6em;
      width: 195px;
      margin: 5px;
      text-align: justify;
      color: grey;

      & div {
        text-align: right;
        font-size: 10px;
        margin-top: 5px;
      }
    }

    & p {
      font-weight: bold;
      margin-bottom: 0px;
    }

    & a {
      text-decoration: underline;
    }

    &-items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 130px;
      align-content: space-evenly;
      padding: 0px;
      width: 100%;
    }

    &-item {
      width: 150px;
      height: 150px;
      margin: 0px 20px;
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
}

.arrow {
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media only screen and (max-width: 650px) {
  .intro {
    &-contact {
      display: none;
    }

    &-title {
      font-size: 70px;
    }

    &-img {
      width: 200px;
    }

    &-content {
      & p {
        font-size: 17px;
        margin: 10px 10px;
        text-align: center;
      }

      &-items {
        height: auto;
      }

      &-item {
        height: auto;
        width: 200px;
      }

      &-scroll {
        display: none;
      }
    }
  }
}
