.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &-title { font-size: 60px; }

  &-contact {
    position: absolute;
    top: 5px;
    right: 5px;
    color: grey;

    & a {
      color: grey; 
      text-decoration: none;

      &:hover { text-decoration: underline; }
    }
  }

  &-img {
    width: 350px;
    border-radius: 50%;
    border: 7px solid $soft-white;
  }

  &-content {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-quote {
      font-size: 13px;
      width: 195px;
      margin: 5px;
      text-align: justify;
      color: grey;

      & div {
        text-align: right;
        font-size: 10px;
        margin-top: 5px;
      }

    }

    & p {
      font-weight: bold;
      margin-bottom: 0px;
    }
    
    &-items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 130px;
      align-content: space-evenly;
      padding: 0px;
    }

    &-item {
      width: 150px;
      height: 150px;
      margin: 0px 10px;
      margin-bottom: 10px;
      font-size: 16px;
    }

    &-scroll {
      font-family: $font-rob;
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: white;
      text-decoration: none;
      
      &:hover {
        color: rgb(182, 182, 182);
        cursor: pointer;
      }
    }
  }
}

.arrow {
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}