@import "./varaibles";

@import "./profile";
@import "./sidebar";
@import "./intro";
@import "./skills";
@import "./projects";
@import "./certs";
@import "./footer";

html,
body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  height: 100%;
  font-family: $font-mon;
  overflow-x: hidden;

  h1,
  h2,
  h3 {
    margin: 0px;
  }

  h1 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
  }
}

a {
  color: purple;
  text-decoration: none;
}

#root {
  height: 100%;
}
