@import './varaibles';

@import './profile';
@import './sidebar';
@import './intro';
@import './skills';

html, body {
  margin: 0px;
  scroll-behavior: smooth;
  height: 100%;

  h1, h2, h3 {
    margin: 0px;
  }
}