.profile {
  font-family: $font-mon;
  
  &-dark {
    min-height: 100vh;
    color: $soft-white;
    background-color: $grey-36;

    & a { color: $soft-white; }

    .certs-item {
      &-normal-text { border-right: 1px solid $soft-white; }
      &-reverse-text { border-left: 1px solid $soft-white; }
    }

    border-bottom: 1px solid grey;
  }
  
  &-light {
    color: $grey-36;
    background-color: $soft-white;
    min-height: 100vh;
    border-bottom: 1px solid grey;

    & a { color: $grey-36; }

    .intro-img { border: 7px solid $grey-36; }
  }

  &-midnight {
    color: rgb(209, 208, 208);
    background-color: rgb(7, 7, 7);
    min-height: 100vh;
    border-bottom: 1px solid grey;

    & a { color: $soft-white; }

    .certs-item {
      &-normal-text { border-right: 1px solid $soft-white; }
      &-reverse-text { border-left: 1px solid $soft-white; }
    }
  }
}

.content-scroll {
  font-family: $font-rob;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  
  &:hover {
    color: rgb(182, 182, 182);
    cursor: pointer;
  }
}