.sidebar { position: fixed; z-index: 11;}

.sidebar-menu {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  background-color: white;
  border: 1px solid grey;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  
  &-wrapper {
    position: relative;
    transition: transform .3s ease;

    &-hide {
      left: -10px;
      animation: slide-out 1s .2s forwards;
  
      &:hover { transform: translateX(10px) rotate(5deg); }
    }
  
    &-show {
      left: -120px;
      animation: slide-in 1s .2s;
      animation-fill-mode: forwards;
    }

    &-arrow {
      position: absolute;
      top: -30px;
      left: 15px;
      color: grey;
      font-size: 25px;
      
      &:hover {
        color: rgb(184, 184, 184);
        cursor: pointer;
      }
    }

    &-text {
      position: absolute;
      top: 50px;
      right: -60px;
      width: 110px;
      color: grey;
      font-family: $font-rob;
      transform: rotate(90deg);
      padding-bottom: 10px;
    } 
  }
  
  &-item {
    text-decoration: none; 
    color: $grey-36;
    font-weight: bold;
    text-align: right;

    &:hover { color: #636363; }
  }

  &-button {
    border: none;
    background-color: $grey-36;
    color: $soft-white;
    font-weight: bold;
    padding: 5px;

    &:hover {
      cursor: pointer;
      background-color: #636363
    }
  }

}

@keyframes slide-in {
  from { left: -120px }
  to { left: -10px }
}

@keyframes slide-out {
  from { left: -10px }
  to { left: -120px }
}

@media only screen and (max-width: 650px) {
  .sidebar {
    display: none;
  }
}
