.skills { 

  &-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 80px;
  }

  &-item {
    display: flex;
    align-items: center;
    transition: transform .3s ease;
    width: 500px;
    margin-bottom: 100px;
    font-size: 10px;
    
    &-img {
      width: 15em;
      z-index: 5;
      align-self: center;
    }

    &-content {
      margin-left: -35px;
      width: 350px;
      border: 1px solid $soft-white;
      border-left: none;
      height: 110px;
      border-radius: 0px 55px 55px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 50px;
      font-size: 2.7em;
      font-weight: bold;
      color: white;
      background-color: rgb(46, 44, 44)
    }

    &-time {
      font-size: 15px;
      color: grey;
      font-weight: 400;
      font-family: $font-rob;
    }
  }
}

@media only screen and (max-width: 650px) {
  .skills {
    &-item {
      width: 300px;
      font-size: 8px;

      &-img {
        
      }

      &-content {
        height: 80px;
      }
    }
  }
}
